* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: grey;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif
}

@media (max-width: 800px) {
    body {
        background-color: blue;
    }
}

.wrapper {
    width: 750px;
    display: flex;
    flex-direction: column;
}

.top,
.main,
.footer {
    padding: 25px 40px;
}

.top {
    background: linear-gradient(170deg, #d63417 75%, #ffffff 35%);
    /* Adjusting the angle and color stops for a sharp transition */
}


.main {
    background-color: white;
}

.footer {
    background-color: #d63417;
}

.top-container {
    display: flex;
    align-items: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    border: 1px black solid;
}

.image-wrapper {
    position: relative;
    flex: 0.6
}

.header-img-text {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: pink;
    font-size: 20px
}

.info-box > * {
    margin: 0;
    padding: 0;
    color: black;
    margin: 10px
}

.socials {
    display: flex;
    justify-content: end;
    gap: 12px;
}

.socials img {
    width: 24px;
    height: 24px;
    transition: transform 0.1s ease-in-out;
}

.socials img:hover {
    transform: scale(1.2)
}

.top .image-wrapper img {
    width: 100%;
    height: auto;
}


.main {
    background-color: white;
}

.main-topic {
    margin-bottom: 12px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow: auto;
    gap: 16px;
}

.card {
    border: 2px solid red;
    
}

.card img {
    width: 100%;
    aspect-ratio: 3 / 2;
    height: auto;
    object-fit: cover;
    object-position: center center;
}



.card-info {
    margin: 4px 12px;
}

.card-top {
    margin-bottom: 6px;
}



.footer {
    display: flex;
}

.footer-info {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    gap: 12px;
}

.footer-image-wrapper {
    flex: 0.4;
}

.footer-image-wrapper img {
    width: 100%;
    height: auto;
}
